body{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 10px;
}
.marks-table{
    margin-top: 50px;
    border: 1px solid black;
    display: flex;
    
    justify-content: center;
}
.form-container{
    border: 1px solid black;
    padding: 20px;
}
h3,h1{
    margin: 5px auto;
}


#row-insert input{
    width: 40px;
}
 